@charset "utf-8";
/* CSS Document */

a#breadcrumbs,il {
	color: #FFFFFF;
}

body {
	background: url(images/background2.jpg) no-repeat fixed 100%;
}
   
div#header{
	width: 100%;
	height: 250px;
	background-color: #353535;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding-bottom: 0px;
	margin-bottom: 100px;
}

div#wrapper {
	width: 1300px;
	height: 180px;
	margin: 0 auto;
	text-align: center;
}

#tcmclogo,#memberbutton,#loginbutton,#fblogo,#tagline1,#tagline2,#tagline3 {
	float: left;	
}

div#tcmclogo {
	margin-top: 10px;
	margin-left: 50px;
}

div#memberbutton {
	margin-left: 72px;
	margin-top: 120px;
}

div#loginbutton {
	margin-left: 110px;
	margin-top: 120px;
}

div#fblogo {
	margin-left: 55px;
	margin-top: 25px;
}

div#tagline1 {
	width: 600px;
	height: 20px;
	margin-left: 400px;
	margin-top: -150px;
	font-size: 20px;
}

div#tagline2 {
	width: 200px;
	height: 20px;
	margin-left: 410px;
	margin-top: -85px;
}

div#tagline3 {
	width: 200px;
	height: 20px;
	margin-left: 820px;
	margin-top: -85px;
}

div#headercolor {
	padding-top: 15px;
	padding-bottom: 15px;
	opacity: ;
	background-color: #FF6E00;
}

div#header i {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: white;
}

div#boxcontent { /*for index.html only*/
	width: 1217px;
	margin: 0 auto;
	background-color: #353535;
	height: 800px;
	padding-top: 20px;
	padding-left: 5px;
}

div#boxcontent hr {
	position: absolute;
	width: 1222px;
	height: 7px;
	margin-left: -5px;
	margin-top: 793px;
	background-color: #FF6E00;
	border-color: #FF6E00;
	border-width: 0px;
}

div#index { /*for index.html only*/
	float: left;
	width: 389px;
	padding-left: 10px;
	padding-right: 5px;
}

div#bodycontentART {
	width: 1217px;
	margin: 0 auto;
	background-color: #353535;
	height: 1000px;
	padding-top: 20px; /*Don't change padding or hr tag will go out of line - Dean*/
	padding-left: 5px; /*Don't change padding or hr tag will go out of line - Dean*/
}

#bodycontentART hr {
	position: absolute;
	width: 1222px;
	height: 7px;
	margin-left: -5px;
	margin-top: 993px;
	background-color: #FF6E00;
	border-color: #FF6E00;
	border-width: 0px;
}

div#contentART {
	float: left;
	width: 1181px;
	height: 970px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}

#bodycontentART img {
	float:left	
	height: 165px;
	width: 1164px;
	margin-left: 8px;
}

div#bodycontentEVNT {
	width: 1217px;
	margin: 0 auto;
	background-color: #353535;
	height: 800px;
	padding-top: 20px; /*Don't change padding or hr tag will go out of line - Dean*/
	padding-left: 5px; /*Don't change padding or hr tag will go out of line - Dean*/
}

#bodycontentEVNT hr {
	position: absolute;
	width: 1222px;
	height: 7px;
	margin-left: -5px;
	margin-top: 793px;
	background-color: #FF6E00;
	border-color: #FF6E00;
	border-width: 0px;
}

div#contentEVNT {
	float: left;
	width: 1181px;
	height: 770px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}

#bodycontentEVNT img {
	float:left	
	height: 165px;
	width: 1164px;
	margin-left: 8px;
}

div#bodycontentBB {
	width: 1217px;
	margin: 0 auto;
	background-color: #353535;
	height: 800px;
	padding-top: 20px; /*Don't change padding or hr tag will go out of line - Dean*/
	padding-left: 5px; /*Don't change padding or hr tag will go out of line - Dean*/
}

#bodycontentBB hr {
	position: absolute;
	width: 1222px;
	height: 7px;
	margin-left: -5px;
	margin-top: 793px;
	background-color: #FF6E00;
	border-color: #FF6E00;
	border-width: 0px;
}

div#contentBB {
	float: left;
	width: 1181px;
	height: 770px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}

#bodycontentBB img {
	float:left	
	height: 165px;
	width: 1164px;
	margin-left: 8px;
}

div#bodycontentSPO {
	width: 1217px;
	margin: 0 auto;
	background-color: #353535;
	height: 865px;
	padding-top: 20px; /*Don't change padding or hr tag will go out of line - Dean*/
	padding-left: 5px; /*Don't change padding or hr tag will go out of line - Dean*/
}

#bodycontentSPO hr {
	position: absolute;
	width: 1222px;
	height: 7px;
	margin-left: -5px;
	margin-top: 858px;
	background-color: #FF6E00;
	border-color: #FF6E00;
	border-width: 0px;
}

div#contentSPO {
	float: left;
	width: 1181px;
	height: 833px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}

#SPOTCC {
	height: 180px;
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	
}

#contentSPO hr {
	position: absolute;
	width: 850px;
	height: 2px;
	margin-top: 14px;
	background-color: #FF6E00;
	border-color: #FF6E00;
	border-width: 0px;
	margin-left: 250px;
}

#SPOQLD {
	padding-top: 20px;
	padding-bottom: 20px;
	height: 150px;
	margin-top: 30px;
	
}

#bodycontentSPO img {
	float:left	
	height: 165px;
	width: 1164px;
	margin-left: 8px;
}

div#bodycontentCU {
	width: 1217px;
	margin: 0 auto;
	background-color: #353535;
	height: 850px;
	padding-top: 20px; /*Don't change padding or hr tag will go out of line - Dean*/
	padding-left: 5px; /*Don't change padding or hr tag will go out of line - Dean*/
}

#bodycontentCU hr {
	position: absolute;
	width: 1222px;
	height: 7px;
	margin-left: -5px;
	margin-top: 843px;
	background-color: #FF6E00;
	border-color: #FF6E00;
	border-width: 0px;
}

div#contentCU {
	float: left;
	width: 1181px;
	height: 820px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}

#bodycontentCU img {
	float:left	
	height: 165px;
	width: 1164px;
	margin-left: 8px;
}

div#bodycontentAU {
	width: 1217px;
	margin: 0 auto;
	background-color: #353535;
	height: 1790px;
	padding-top: 20px; /*Don't change padding or hr tag will go out of line - Dean*/
	padding-left: 5px; /*Don't change padding or hr tag will go out of line - Dean*/
}

div#bodycontentAU hr {
	position: absolute;
	width: 1222px;
	height: 7px;
	margin-left: -5px;
	margin-top: 1783px;
	background-color: #FF6E00;
	border-color: #FF6E00;
	border-width: 0px;
}

div#contentAU {
	float: left;
	width: 1181px;
	height: 1740px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 30px;
}
#bodycontentAU img {
	float:left	
	height: 165px;
	width: 1164px;
	margin-left: 8px;
}

div#copyright {
	font-size: 11px;
	font-weight: bold;
	border: none;
	color: #777;
	float: left;
	padding-top: 38px;
}

div#footer {
	padding-top: 20px;
	clear: both;
	background-color: #353535;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	height: 290px;
}

.footerwrap {
	width: 1217px;
	padding: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	text-align: left;
	box-sizing: content-box;
	height: 250px;
}

div#footer hr {
	border: 0;
	border-top: 2px solid #FFFFFF;
	width: 165px;
}

div#footer-menu a {
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}

div#footer-sites {
	clear: both;
	width: 1217px;
	margin-bottom: 30px;
}

div#footer th,#footer td {
	padding: 0 15px 0 0;
	text-align: right;
	text-transform: uppercase;
	font-size: .9em;
}

div#footer th {
	color: #777;
	padding-bottom: 1em;
	line-height: 1.3;
	text-align: center;
	margin-left: 97px;
}

div#footer td {
	vertical-align: top;
}

div#footer li {
	list-style: none;
	line-height: 1.3em;
	margin-bottom: 10px;
	text-transform: none;
	font-size: 1em;
}

div#footer ol {
	margin: 0;
	text-align: left;
}

div#footer-sites a:link{
	color: white;
	text-decoration: none;	
}
div#footer-sites a:visited{
	color: white;
}
div#footer-sites a:hover{
	color: #B9B9B9;
}
div#footer-sites a:active{
	color: #6073BF;
}

div#footer-menu {
	float: left;
}

fieldset {
    border: 0;
}

h1 {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #FFFFFF;
}

h2 {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #FFFFFF;
}

img#indexbutton{
	height=: 344px; 
	width=: 391px;
}

img#sponsors1 {
	margin-left: 50px;
	margin-right: 50px;
	height: 150px; 
	width: 150px;
	float: left;
}

img#sponsors2 {
	height: 150px;
	width: 250px;
	float: left;
	margin-left: -3px;
}

ol {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 2;
	list-style-type: none;
	padding: 0;
	color: #FFFFFF;
}

p{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #FFFFFF;
	word-wrap: break-word;
	width: 1100px;
}

table {

}

td{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #ffffff;
}

a#registerlink{
	color: #FFFFFF;
}

ul#breadcrumbs {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 2;
    list-style-type: none;
	padding: 0;
}
