@charset "utf-8";
/* CSS Document */

body {
	background: url(images/background2.jpg) no-repeat fixed 100%;
}
   
#header{
	width: 100%;
	height: 250px;
	background-color: #353535;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding-bottom: 0px;
	margin-bottom: 100px;
}

#wrapper {
	width: 1217px;
	height: 180px;
	margin: 0 auto;
	text-align: center;
}

#tcmclogo,#memberbutton,#loginbutton,#fblogo,#tagline1,#tagline2 {
	float: left;	
}

#tcmclogo {
	margin-left: 80px;
}

#memberbutton {
	margin-left: 72px;
	margin-top: 120px;
}

#loginbutton {
	margin-left: 110px;
	margin-top: 120px;
}

#fblogo {
	margin-left: 55px;
	margin-top: -16px;
}

#tagline1 {
	width: 300px;
	margin-top: -50px;
}

#tagline2 {
	width: 200px;
	height: 20px;
	margin-left: 350px;
	margin-top: -85px;
}

#headercolor {
	padding-top: 15px;
	padding-bottom: 15px;
	opacity: ;
	background-color: #FF6E00;
}

#header i {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: white;
}

#boxcontent {
	width: 1217px;
	margin: 0 auto;
	background-color: #353535;
	height: 800px;
	padding-top: 20px;
	padding-left: 5px;
}

#boxcontent hr {
	position: absolute;
	width: 1222px;
	height: 7px;
	margin-left: -5px;
	margin-top: 793px;
	background-color: #FF6E00;
	border-color: #FF6E00;
	border-width: 0px;
}

#index {
	float: left;
	width: 389px;
	padding-left: 10px;
	padding-right: 5px;
}

#footer {
	padding-top: 20px;
	clear: both;
	background-color: #353535;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

.footerwrap {
	width: 1217px;
	padding: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	text-align: left;
	box-sizing: content-box;
	height: 250px;
}

#footer hr {
	border: 0;
	border-top: 2px solid #FFFFFF;
	width: 165px;
}

#footer-menu a {
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}

#footer-sites {
	clear: both;
	width: 1217px;
	margin-bottom: 30px;
}

#footer th,#footer td {
	padding: 0 15px 0 0;
	text-align: right;
	text-transform: uppercase;
	font-size: .9em;
}

#footer th {
	color: #777;
	padding-bottom: 1em;
	line-height: 1.3;
	text-align: center;
	margin-left: 97px;
}

#footer td {
	vertical-align: top;
}

#footer li {
	list-style: none;
	line-height: 1.3em;
	margin-bottom: 10px;
	text-transform: none;
	font-size: 1em;
}

#footer ol {
	margin: 0;
	text-align: left;
}

#footer-sites a:link{
	color: white;
	text-decoration: none;	
}
#footer-sites a:visited{
	color: white;
}
#footer-sites a:hover{
	color: #B9B9B9;
}
#footer-sites a:active{
	color: #6073BF;
}

#footer-menu {
	float: left;
}

#copyright {
	font-size: 11px;
	font-weight: bold;
	border: none;
	color: #777;
	float: left;
	padding-top: 38px;
}
