@charset "utf-8";
/* CSS Document */

body {
	background: url(images/background2.jpg) no-repeat fixed 100%;
}
   
div#header{
	width: 100%;
	height: 250px;
	background-color: #353535;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding-bottom: 0px;
	margin-bottom: 100px;
}

div#wrapper {
	width: 1217px;
	height: 180px;
	margin: 0 auto;
	text-align: center;
}

#tcmclogo,#memberbutton,#loginbutton,#fblogo,#tagline1,#tagline2 {
	float: left;	
}

div#tcmclogo {
	margin-left: 80px;
}

div#memberbutton {
	margin-left: 72px;
	margin-top: 120px;
}

div#loginbutton {
	margin-left: 110px;
	margin-top: 120px;
}

div#fblogo {
	margin-left: 55px;
	margin-top: -16px;
}

div#tagline1 {
	width: 300px;
	margin-top: -50px;
}

div#tagline2 {
	width: 200px;
	height: 20px;
	margin-left: 350px;
	margin-top: -85px;
}

div#headercolor {
	padding-top: 15px;
	padding-bottom: 15px;
	opacity: ;
	background-color: #FF6E00;
}

div#header i {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: white;
}

div#boxcontent { /*for index.html only*/
	width: 1217px;
	margin: 0 auto;
	background-color: #353535;
	height: 800px;
	padding-top: 20px;
	padding-left: 5px;
}

#boxcontent hr,#bodycontent hr,#bodycontentCU hr,#bodycontentAU hr, {
	position: absolute;
	width: 1222px;
	height: 7px;
	margin-left: -5px;
	margin-top: 793px;
	background-color: #FF6E00;
	border-color: #FF6E00;
	border-width: 0px;
}

div#bodycontentSPO hr {
	position: absolute;
	width: 1222px;
	height: 7px;
	margin-left: -5px;
	margin-top: 858px;
	background-color: #FF6E00;
	border-color: #FF6E00;
	border-width: 0px;
}

div#index { /*for index.html only*/
	float: left;
	width: 389px;
	padding-left: 10px;
	padding-right: 5px;
}

div#bodycontentART {
	width: 1217px;
	margin: 0 auto;
	background-color: #353535;
	height: 1000px;
	padding-top: 20px; /*Don't change padding or hr tag will go out of line - Dean*/
	padding-left: 5px; /*Don't change padding or hr tag will go out of line - Dean*/
}

div#contentART {
	float: left;
	width: 1181px;
	height: 970px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}

div#bodycontentEVNT {
	width: 1217px;
	margin: 0 auto;
	background-color: #353535;
	height: 800px;
	padding-top: 20px; /*Don't change padding or hr tag will go out of line - Dean*/
	padding-left: 5px; /*Don't change padding or hr tag will go out of line - Dean*/
}

div#contentEVNT {
	float: left;
	width: 1181px;
	height: 770px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}

div#bodycontentBB {
	width: 1217px;
	margin: 0 auto;
	background-color: #353535;
	height: 800px;
	padding-top: 20px; /*Don't change padding or hr tag will go out of line - Dean*/
	padding-left: 5px; /*Don't change padding or hr tag will go out of line - Dean*/
}

div#contentBB {
	float: left;
	width: 1181px;
	height: 770px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}

div#bodycontentSPO {
	width: 1217px;
	margin: 0 auto;
	background-color: #353535;
	height: 865px;
	padding-top: 20px; /*Don't change padding or hr tag will go out of line - Dean*/
	padding-left: 5px; /*Don't change padding or hr tag will go out of line - Dean*/
}

div#contentSPO {
	float: left;
	width: 1181px;
	height: 833px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}

div#bodycontentCU {
	width: 1217px;
	margin: 0 auto;
	background-color: #353535;
	height: 800px;
	padding-top: 20px; /*Don't change padding or hr tag will go out of line - Dean*/
	padding-left: 5px; /*Don't change padding or hr tag will go out of line - Dean*/
}

div#contentCU {
	float: left;
	width: 1181px;
	height: 770px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}

div#bodycontentAU {
	width: 1217px;
	margin: 0 auto;
	background-color: #353535;
	height: 1600px;
	padding-top: 20px; /*Don't change padding or hr tag will go out of line - Dean*/
	padding-left: 5px; /*Don't change padding or hr tag will go out of line - Dean*/
}

div#contentAU {
	float: left;
	width: 1181px;
	height: 1570px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}

a#breadcrumbs,il {
	color: #FFFFFF;
}



div#footer {
	padding-top: 20px;
	clear: both;
	background-color: #353535;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

.footerwrap {
	width: 1217px;
	padding: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	text-align: left;
	box-sizing: content-box;
	height: 250px;
}

div#footer hr {
	border: 0;
	border-top: 2px solid #FFFFFF;
	width: 165px;
}

div#footer-menu a {
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}

div#footer-sites {
	clear: both;
	width: 1217px;
	margin-bottom: 30px;
}

div#footer th,#footer td {
	padding: 0 15px 0 0;
	text-align: right;
	text-transform: uppercase;
	font-size: .9em;
}

div#footer th {
	color: #777;
	padding-bottom: 1em;
	line-height: 1.3;
	text-align: center;
	margin-left: 97px;
}

div#footer td {
	vertical-align: top;
}

div#footer li {
	list-style: none;
	line-height: 1.3em;
	margin-bottom: 10px;
	text-transform: none;
	font-size: 1em;
}

div#footer ol {
	margin: 0;
	text-align: left;
}

div#footer-sites a:link{
	color: white;
	text-decoration: none;	
}
div#footer-sites a:visited{
	color: white;
}
div#footer-sites a:hover{
	color: #B9B9B9;
}
div#footer-sites a:active{
	color: #6073BF;
}

div#footer-menu {
	float: left;
}

div#copyright {
	font-size: 11px;
	font-weight: bold;
	border: none;
	color: #777;
	float: left;
	padding-top: 38px;
}
h1 {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #FFFFFF;
}
h2 {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #FFFFFF;
}
img#banner{
	 height: 150px;
	 width: 1058px;
	
}
img#sponsors1{
	margin-left: 50px;
	margin-right: 50px;
	height: 150px; 
	width: 150px;
}
img#sponsors2{
	 height: 150; 
	 width: 250;
}
ol {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 2;
	list-style-type: none;
	padding: 0;
	color: #FFFFFF;
}
p{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #FFFFFF;
}
ul#breadcrumbs {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 2;
    list-style-type: none;
	padding: 0;
}