a{
	text-decoration: none;
	color: #F9F7F7;
}
#aboutus01{
	float: left;
}
#bodywrapper{
	float: left;
	position: absolute;
	display: block;
	margin-left: 12.5%;
	margin-right: 12.5%;
	min-height: 100%;
}
#contactus01{
	float: left;
	margin: 10px 0 0 0;
	width: auto;
	margin-right: 25px;
	margin-button: 50px;
}
#contactus02{
	margin: 10px 0 0 0;
	width: 20%;
	margin-left: 25px;
	margin-botton:50px;
}
#footer{
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: auto;
	background-color: #444443;
	left: 0px;
	right: 0px;
	margin-bottom: 0px;
}
#footercontainer{
	margin-left: 30%;
	margin-right: 30%;
}
#footerlinks01 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin: auto;
	float: left;
	display: block;
	text-align: center;
	width: 100px;
	padding: 12px;
}

#footerlinks02 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin: auto;
	float: left;
	display: block;
	text-align: center;
	width: 100px;
	padding: 12px;
}

#footerlinks03 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin: auto;
	float: left;
	display: block;
	text-align: center;
	width: 100px;
	padding: 12px;
}

#footerlinks04 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin: auto;
	float: left;
	display: block;
	text-align: center;
	width: 100px;
	padding: 12px;
}

#footerlinks05 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin: auto;
	float: left;
	display: block;
	text-align: center;
	width: 100px;
	padding: 12px;
}

#footerlinks06 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin: auto;
	float: left;
	display: block;
	text-align: center;
	width: 100px;
	padding: 12px;
}

#footerlinks a:link{
	color: white;
	text-decoration: none;	
}
#footerlinks a:visited{
	color: white;
}
#footerlinks a:hover{
	color: #B9B9B9;
}
#footerlinks a:active{
	color: #6073BF;
}
#header{
	float: center;
	margin-left: 12.5%;
	margin-right: 12.5%;
}
#header01{
	float: left;
	margin: 10px 0 0 0;
	margin-left: 12.5%;
}
#header02{
	float: center;
	margin: 10px 0 0 0;
	margin-left: 20%;
	margin-right: 30%;
	text-align: center;
}
#header03{
	margin: 10px 0 0 0;
	margin-left: 10%;
	margin-right: 50%;
	text-align: center;
}
#header04{
    float:right;
    position: relative;
    top: -63px;
    
    
}
#header05{
	float: right;
	margin: -100px 0 0 10px;
	margin-right: -75%
}
#index01{
    float: left;
	position: absolute;
	display: block;
	margin-left: 15%;
	margin-right: 15%;
	min-height: 100%;
}
#index02{
	float: left;
	display: block;
	margin: 1.5%;
    width: 350px;
	padding: 12px;
}
#sponsors01{
	display: block;
    float: left;
	margin: 10px 0 0 0;
}
#sponsors02{
	display: block;
	float: left;
	width: 20%;
	margin: 10px 0 0 0;
	margin-left: 24px;
	margin-right: 24px;
}
h1{
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-weight:bold;
	font-size:36px;
	color:black;
	margin:24px;
}
hr{
    border: 0;
    border-top: 2px solid #000000;
}
p{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	margin-left: 24px;
	margin-right: 24px;
	font-size: 18px;
	line-height: 2;
}
