a{
	text-decoration: none;
	color: #F9F7F7;
}
#aboutus01{
	float: left;
	margin-left: 15%;
	margin-right: 15%;
}
#contactus01{
	float: left;
	margin: 10px 0 0 0;
	width: 50%;
	margin-left:12.5%;
	margin-right:25px;
	margin-button:50px;
}
#contactus02{
	float: left;
	margin: 10px 0 0 0;
	width: 20%;
	margin-left: 25px;
	margin-right:12.5%;
	margin-botton:50px;
}
#footer{
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: auto;
	background-color: #444443;
	left: 0px;
	right: 0px;
	margin-bottom: 0px;
}
#footercontainer{
	float: center;
	margin-left: 30%;
	margin-right: 30%;
}
#footerlinks {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: -200px;
	margin-bottom: 0px;
	float: left;
	display: block;
	text-align: center;
	width: 100px;
	padding: 12px;
}

#footerlinks2 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin-top: auto;
	margin-right: auto;
	margin-left: -80px;
	margin-bottom: auto;
	float: left;
	display: block;
	text-align: center;
	width: 100px;
	padding: 12px;
}

#footerlinks3 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin: auto;
	float: left;
	display: block;
	text-align: center;
	width: 100px;
	padding: 12px;
}

#footerlinks4 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin: auto;
	float: left;
	display: block;
	text-align: center;
	width: 100px;
	padding: 12px;
}

#footerlinks5 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin: auto;
	float: left;
	display: block;
	text-align: center;
	width: 100px;
	padding: 12px;
}

#footerlinks6 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin: auto;
	float: left;
	display: block;
	text-align: center;
	width: 100px;
	padding: 12px;
}

#footerlinks a:link{
	color: white;
	text-decoration: none;	
}
#footerlinks a:visited{
	color: white;
}
#footerlinks a:hover{
	color: #B9B9B9;
}
#footerlinks a:active{
	color: #6073BF;
}
#header{
	float: center;
	margin-left: 12.5%;
	margin-right: 12.5%;
}
#header01{
	float: left;
	margin: 10px 0 0 0;
	margin-left: 12.5%;
}
#header02{
	float: center;
	margin: 10px 0 0 0;
	margin-left: 30%;
	margin-right: 30%;
	text-align: center;
}
#header03{
	margin: 10px 0 0 0;
	margin-left: 10%;
	margin-right: 50%;
	text-align: center;
}
#header04{
	margin-top: -104px;
	margin-right: 30%;
	margin-left: 50%;
	margin-bottom: 0;
	margin-left: 50%;
	margin-right: 30%;
	text-align: center;
}
#header05{
	float: right;
	margin: 0px 0 0 10px;
	margin-right: 14%
}
#index01{
    float: left;
	margin-left: 15%;
	margin-right: 15%;
}
#index02{
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}
#sponsors01{
    float: left;
	width: 75%;
	margin: 10px 0 0 0;
	margin-left:12.5%;
	margin-right:12.5%;
}
#sponsors02{
	float: left;
	width: 20%;
	margin: 10px 0 0 0;
	margin-left: 24px;
	margin-right: 24px;
}
h1{
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-weight:bold;
	font-size:36px;
	color:black;
	margin:24px;
}
hr{
    border: 0;
    border-top: 2px solid #000000;
}
p{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	margin-left: 24px;
	margin-right: 24px;
	font-size: 18px;
	line-height: 2;
}
